@font-face {
    font-family: futura;
    src: url(Futura-Light.ttf)
}
@font-face {
    font-family: fette;
    src: url(FetteClassicUNZFraktur.ttf)
}
@font-face {
    font-family: bickham;
    src: url(Bickham-Script-Three.ttf)
}
@font-face {
    font-family: kingthings;
    src: url(Kingthings-Spikeless.ttf)
}
@font-face {
    font-family: mrsheppards;
    src: url(Mr-Sheppards.ttf)
}
@font-face {
    font-family: garreg;
    src: url(garreg.ttf)
}